.tablestyle
{

}
.x-grid3-header-extjs {
    background-color: #F9F9F9;
    background-image: url("images/default/grid/grid3-hrow.gif");
    cursor: default;

}

.x-grid3-header-inner-extjs {

    overflow: hidden;
}

.x-grid3-hd-row-extjs td {
    font-size: 11px;
    padding: 4px 3px 4px 5px;
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;
}

.x-grid3-row-extjs {
    border: 1px solid;
    border-color: #FFFFFF #EDEDED #EDEDED;

}

.x-row-bold td {
    font-weight: bold !important;
    background-color: #F9F9F9;
}

.search-item {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    padding:3px 10px 3px 10px;
    border:1px solid #fff;
    border-bottom:1px solid #eeeeee;
    white-space:normal;
    color:#555;
}
.search-item h3 {
    display:block;
    font:inherit;
    font-weight:bold;
    color:#222;
}

.search-item h3 span {
    float: right;
    font-weight:normal;
    margin:0 0 5px 5px;
    width:100px;
    display:block;
    clear:none;
}
#app-header {
    font-family: Arial, sans-serif;
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 14px 15px 8px 8px;
    text-shadow: 0 1px 0 #fff;
    /*background: url(app-logo.png) no-repeat 8px 8px;*/
}
#app-header .subtitle {
    font-size: 12px;
    color: #369;
    /*margin: 10px;*/
}
#order-view .x-panel-body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}
#order-view .x-panel-body h1 {
    background: #eee;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    padding: 14px 15px 10px;
}
#order-view .x-panel-body p {
    padding: 10px 15px 0;
}
.x-tree-selected {
    font-weight: bold;
}

* {
    font-size: 12px;
    font-family: tahoma, arial, verdana, helvetica, sans-serif;
    color:#393939;
}


/*
    Style untuk BuDataView
    ----------------------
*/
.BuDataView {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
    user-select: none;
}

.BuDataView ul {
    position: relative;
    display: block;
    height: auto;
    /*font-size: 85%;*/
}

.BuDataView ul li {
    float: left;
    padding: 4px;
    margin: 5px;
    width: 100px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #E2E2E2;
    cursor: pointer;
    display: block;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.BuDataViewItem img {
    display: inline-block;
    max-width:100%;
    max-height:100%;
}

.BuDataViewItem-hover {
    border: 1px solid #2a2a2a;
}

.BuDataView ul li:active {
    background-color: rgba(100, 100, 100, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-left: 1px solid rgba(0, 0, 0, .15);
}